@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {

    /* ------ Accent Colours ------ */
    --Red: #EA5353;
    --Cyan: #45D3D3;
    --Orange: #FCAF4A;
    --Blue: #549EF2;

    /* ------ Body Colours ------ */
    --V-Dark-Blue: #4C4E61;
    --Grayish-Blue: #A3A5AE;
    --V-Light-Grey: #FAFAFA;

    /* ------ Attribution ------ */
    --Link:  #3E52A3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--V-Light-Grey);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

h1, h2, h3 {
    color: var(--V-Dark-Blue);
}

p {
    color: var(--Grayish-Blue);
    padding-top: 10px;
}

.container {
    max-width: 1250px;
    padding: 0 40px;
    margin: 0 auto;
}

/* ------ Header ------ */
.main-title, .title, .intro {
    text-align: center;
    margin: 0 auto;
}

.main-title, .title{
    font-size: 32px;
}

.main-title {
    margin-top: 80px;
    font-weight: 200;
}

.intro {
    max-width: 500px;
}

/* ------ Main ------ */
main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 80px 0;
}

.box1, .box2, .box3, .box4 {
    position: relative;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(76, 78, 97, 0.2);
    border-radius: 5px;
    height: 250px;
}

.box1, .box4 {
    grid-row: 2/4;
}

.box1 {
    border-top: 5px solid var(--Cyan);
}

.box2 {
    border-top: 5px solid var(--Red);
    grid-row: 1/3;
}

.box3 {
    border-top: 5px solid var(--Orange);
    grid-row: 3/5;
}

.box4 {
    border-top: 5px solid var(--Blue);
}

/* ------ Images ------ */
.icon {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    right: 30px;
}

/* ------ Footer ------ */
.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: var(--Link);
    text-decoration: none;
}

/* ------ Media Queries ------ */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .main-title, .title {
        font-size: 24px;
    }
    
    main {
        grid-template-columns: 1fr;
    }

    .box1 {
        grid-row: 1/2;
    }

    .box2 {
        grid-row: 2/3;
    }

    .box3 {
        grid-row: 3/4;
    }

    .box4 {
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .main-title, .title {
        font-size: 28px;
    }
    
    main {
        grid-template-columns: repeat(2, 1fr);
    }
     
    .box1 {
        grid-row: 1/2;
    } 

    .box2 {
        grid-column: 2/3;
    }

    .box3 {
        grid-row: 2/3;
    }

    .box4 {
        grid-column: 2/3;
    }

}
